<ion-content class="ion-padding login-container">

  <!-- Back button + Title -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Entrar</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Logo -->
  <div class="logo-container ion-text-center">
    <ion-icon name="barbell-outline" class="logo-icon"></ion-icon>
    <h2>FitTrainer</h2>
    <p>Conecte-se com personal trainers</p>
  </div>

  <!-- Toggle User Type -->
  <div class="role-toggle">
    <ion-segment value="aluno">
      <ion-segment-button value="aluno">
        <ion-icon name="person"></ion-icon>
        <ion-label>Aluno</ion-label>
      </ion-segment-button>
      <ion-segment-button value="trainer">
        <ion-icon name="accessibility-outline"></ion-icon>
        <ion-label>Personal Trainer</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Form -->
  <form>
    <ion-item>
      <ion-input label="Email" labelPlacement="stacked" placeholder="seu@email.com"></ion-input>
    </ion-item>

      <ion-item class="mt-10">
        <ion-input type="password" label="Senha" labelPlacement="stacked" placeholder="********"></ion-input>
      </ion-item>

    <div class="options-row mt-10">
      <ion-checkbox> Lembrar de mim </ion-checkbox>
      <ion-button fill="clear" size="small">Esqueci a senha</ion-button>
    </div>

    <ion-button expand="block" class="login-btn" (click)="onClickLogin()">Entrar</ion-button>
  </form>

  <!-- Divider -->
  <div class="divider">ou continue com</div>

  <!-- Social buttons -->
  <div class="social-login">
    <ion-button expand="block" fill="outline" color="medium">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Google
    </ion-button>
    <ion-button expand="block" fill="outline" color="medium">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Facebook
    </ion-button>
  </div>

  <!-- Footer -->
  <div class="ion-text-center footer-text">
    Não tem uma conta? <a href="#">Criar conta</a>
  </div>

</ion-content>