<ion-toolbar>
  <ion-buttons slot="secondary">
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Icon Buttons</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="ion-text-center">
    Encontre seu Personal Trainer
  </h2>

  <p class="ion-text-center">
    Conecte-se com profissionais qualificados
  </p>

  <ion-searchbar animated="true" placeholder="Buscar personal trainers..."></ion-searchbar>

  <section>
    <p>Personal Trainers em Destaque</p>
    <div class="cards-container">
      @for (item of [{}, {}, {}]; track item) {
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-content>
          <p class="ion-text-center">
            <ion-text color="medium">
              Maria Silva
            </ion-text>
          </p>
          <p class="ion-text-center">
            <ion-text color="medium">
              Hipertrofia
            </ion-text>
          </p>
          <p class="ion-text-center">
            <ion-text color="medium">
              @for (item of [{}, {}, {}, {}, {}]; track item) {
              <ion-icon name="star"></ion-icon>
              }
              4.9
            </ion-text>
          </p>
          <p class="ion-text-center">
            <ion-text color="medium">
              R$ 150/mês
            </ion-text>
          </p>
        </ion-card-content>
      </ion-card>
      }
    </div>
  </section>


  <!-- Todos os Personal Trainers -->
  <section>

    <div class="cards-container">
      <ion-button color="dark" shape="round">Todos</ion-button>
      <ion-button color="dark" shape="round" fill="outline">Hipertrofia</ion-button>
      <ion-button color="dark" shape="round" fill="outline">Emagrecimento</ion-button>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <p>Todos os Personal Trainers</p>
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" size="large">
            <ion-icon name="filter-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    @for (item of [{}, {}, {}, {}, {}]; track item) {
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </ion-col>
          <ion-col>
            <div>
              <ion-grid>
                <ion-row>
                  <ion-col size="10">
                    <div>Iago Delsuc</div>
                  </ion-col>
                  <ion-col size="2"><ion-icon name="heart"></ion-icon></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <div>Especialista em Hipertrofia</div>
                  </ion-col>
                  <ion-col size="12">
                    <ion-text color="medium">
                      @for (item of [{}, {}, {}, {}, {}]; track item) {
                      <ion-icon name="star"></ion-icon>
                      }
                      4.9 (127 avaliações)
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-grid class="center-container">
                <ion-col>
                  <ion-text color="medium">R$ 150/mês</ion-text>
                </ion-col>
                <ion-col size="auto">
                  <ion-button size="small" color="dark">Ver perfil</ion-button>
                </ion-col>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    }

  </section>

</ion-content>